version: "3.2"

services:
  {{ reid.service_name }}:
    extends:
      file: {{ remote_install_path }}/common.yml
      service: common
    image: {{ reid.image }}
    container_name: {{ reid.service_name }}
    restart: always
    network_mode: host
    volumes:
      - ./env:/app/env
    environment:
    