.head {
    display: flex;
    height: 20%;
    margin: 10px 0 10px 0;
    align-items: center;
    text-align: center;
}

.head-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.head-btn {
    align-items: center;
    text-align: center;
}

.dashboard-btn,
.camera-btn {
    background: #5E5DF0;
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-size: xx-large;
    color: #fff;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}