{
  "camera": [
    {
      "id": "Cam5",
      "uri": "{{rtsp.Cam5}}"
    },
    {
      "id": "Cam6",
      "uri": "{{rtsp.Cam6}}"
    },
    {
      "id": "Cam7",
      "uri": "{{rtsp.Cam7}}"
    },
    {
      "id": "Cam8",
      "uri": "{{rtsp.Cam8}}"
    },
  ],
  "app": {
    "port": 9081
  },
  "redis": {
    "uri": "redis://{{database.redis.service_name}}:6379/0",
    "max_size": 75,
    "batch_size": 2,
    "time_retry": 1
  }
}