.hour-btn,
.day-btn,
.month-btn {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 5px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.dash-title {
    text-align: center;
    font-size: 7vh;
}

.dash-graph,
.dash-report {
    height: 68vh;
}


.dash-report {
    float: left;
    width: 10%;
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.dash-graph {
    float: right;
    width: 85%;
    margin: 10px 0 10px 20px;
    padding: 0 10px 0 10px;
}

.report-text {
    border: 1px solid #000;
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 10px;
    width: 70%;
    font-weight: bold;
}