version: "3"

services:
  {{ dashboard.service_name }}:
    extends:
      file: {{ remote_install_path }}/common.yml
      service: common
    image: {{ dashboard.image }}
    container_name: {{ dashboard.container_name }}
    restart: always
