version: "3"

services:
  {{ ipcam.service_name }}:
    extends:
      file: {{ remote_install_path }}/common.yml
      service: common
    image: {{ ipcam.image }}
    container_name: {{ ipcam.container_name }}
    volumes: 
      - ./env/prod.json:/app/env/prod.json
    restart: always
